body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.board {
  margin-top: 30px;
  margin-bottom: 30px;
}

.board-row {
    display: inline-block;
    vertical-align: middle;
}

.cell {
  height: 50px;
  width: 50px;
  border: solid 1px;
}
.cell--first {
  border-left: solid 0 transparent;
}

.cell--last {
  border-right: solid 0 transparent;
}

.cell--top {
  border-top: solid 0 transparent;
}

.cell--bottom {
  border-bottom: solid 0 transparent;
}
